<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://www.4d.com/namespace/reserved/FP/Constants">
   <appid>&quot;0&quot;</appid>
   <fourdversmin>&quot;9.0.0&quot;</fourdversmin>
   <fourdversmax>&quot;9.0.0&quot;</fourdversmax>
   <command name="NOTIFICATION SET MODE" str="20000" topic="2">
      <param position="1" k="20000"/>
   </command>
   <command name="DELIVER NOTIFICATION" str="20000" topic="5">
      <param position="4" k="20001"/>
   </command>
   <command name="SCHEDULE NOTIFICATION" str="20000" topic="6">
      <param position="4" k="20001"/>
   </command>
</application>
